<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    </head>
    <body>
        <div class="center">
            <h1>Change Password</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type="password" name="password1" id="password1" class="input" placeholder="Password">
                <br>
                <input type="password" name="password2" id="password2" class="input" placeholder="Re-Enter Password">
                <br>
                <input type="submit" value="Reset Password" class="input">
                <a href="{% url 'logIn' %}">Already have an account?</a>
            </form>
            <p class="error">{{ error_message }}</p>
        </div>
    </body>
</html>